@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

html {
	background-color: #c3ccd1;
}
body {
}
.noisy {
	background-image: url(../img/noisy-2.png);
}
.cover {
	width: 12cm;
	padding-left: 1.5cm;
	padding-right: 1.5cm;
	background-color: #69402e; /* #935D3B; /* #64320E; */
	border-radius: 0.08cm;
	min-height: 21cm;
	position: relative;
	font-family: Lora, serif;
	font-weight: 400;
	color: #fcd937;
	margin: auto;
	-webkit-box-shadow: 5px 6px 8px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 6px 8px -3px rgba(0,0,0,0.75);
	box-shadow: 5px 6px 8px -3px rgba(0,0,0,0.75);
	border: 1px solid #777;
	border-width: 0 0 1px 1px;
	text-align: center;
	display: block;
	text-decoration: none;
	border-width: 0;
}

.cover h2 {	font-weight: normal; margin-top: -1.5em; letter-spacing: -0.03em; font-size: 1.44em; }
.cover h1 { font-weight: normal; font-size: 128px; margin: 1cm auto 0 auto; padding-top: 3cm; letter-spacing: -0.03em; }

hr { border-width: 0; border-top:1px solid #888; height: 0; }
q {font-style: normal; font-family: Lora, serif; }
