@import url(http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

html {
	background-color: white;
}
body {
	font-family: Georgia, "Source Sans Pro";
	margin: 0;
	padding: 1em 0;
	color: #333;
}
code, pre {
	font-family: "Source Code Pro";
}

page {
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	width: 42em;
}

footer {
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 80%;
	padding: 1em;
}

content {
	display: block;
	padding: 0em;
	position: relative;
}
content p {
	word-spacing: 0.07em
}
content .abstract {
	padding: 0 3em;
	font-weight: 300;
	font-size: 110%;
}
content .abstract b, content .abstract code { font-weight: 400; }
content pre {
	border-radius: 2px;
	padding: 10px;
	background-color: #eee8d5;
	color: white;
}
content pre code {
	color: black;
	background-color: transparent;
}

content code {
	color: #565A9D;
  background-color: #fdf6e3;
}

content blockquote {
	color: #6c71c4;
	text-align: justify;
	font-style: italic;
	margin: 1.5em 4em;
}

content h1, content h2, content h3, content h4 {
	font-weight: normal; font-family: "Source Code Pro"; color: white; color: black;
}
content h2 { font-size: 1.4em; }
content h3 { font-size: 1.25em; }
content h4 { font-size: 1.125em; }
content h1 { font-size: 1.5em; font-family: Cousine; }
content h1:first-child { position: fixed; background-color: white; width: 100%; margin: 0; top: 0; padding: 0.75em 0; }
content h1:first-child + * { margin-top: 50px; }
content h2 { margin-top: 3em; font-weight: bold; }
content h3 { margin-top: 2em; }
content h4 em, content h3 em, content h2 em { font-size: 80%; font-weight: 300; font-style: normal; }

code kw { color: #859900; }
code lit { color: #2aa198; }
code op { color: #dc322f; }
code def { color: #268bd2; }
code as { color: #dc322f; }
code uom { color: #b58900; }
code atom { color: #d33682; }

toc {
	position: fixed;
	top: 15px;
	margin-left: 600px;
	z-index: 1;
	color: #FFD36C;	
	display: none;
}
