@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

@page {
	size: auto;
	margin: 25mm 1cm 25mm 4cm;

	counter-increment: page;
  counter-reset: page 1;
  @bottom-right {
		content: counter(page);
	}
}

html {
  background-color: #c3ccd1;
	background-image: url(../img/noisy-2.png);
}
body {
	font-family: Lora, serif;
	margin: 0;
	padding: 0 0 2em 0;
	font-size: 16px;
}
code, pre {
	font-family: "Source Code Pro", monospace;
}

page {
	display: block;
	background-color: white;
}
@media screen {
	body {
		color: #333;
	}

	page {
		margin: 0 auto;
		width: 580px;
		border-radius: 4px;
		padding-top: 2em;
		min-height: 200px;
		padding-right: 250px;
		padding-left: 140px;

	}
}
@media print {
	page {
		width: 16cm;
	}
	a { color: black; text-decoration: none; }
}

footer {
	display: block;
	text-align: right;
	font-size: 80%;
	padding: 1em;
	font-family: "Source Sans Pro";
}

table { border: 1px solid black; border-spacing: 0; width: 100%; border-collapse: collapse; }
table tbody { border-top: 1px solid black; } 
table th { border-right: 1px solid black; }
table td { padding: 1px 0.3em; border-right: 1px solid black; }
table code { font-weight: bold; font-family: monospace; }
@media print {
	table { page-break-inside: avoid; }
}

content {
	display: block;
	padding: 0em;
	position: relative;
}
content p {
	line-height: 1.4; 
}
content h4 + p, content h5 + p {
	margin-top: 8px;
}
content sup {
	line-height: 1em;
}
content sup a {
	text-decoration: none;
	color: blue;
} 
content pre {
	border-radius: 2px;
	padding: 10px;
	background-color: #eee8d5;
	color: white;
	tab-size: 2;
	-moz-tab-size: 2;
}
content pre code {
	color: black;
}

@media screen {
	content p code {
		color: #565A9D;
	}
}
content p code, content dd > code {
	white-space: nowrap;
	padding: 0 3px;
}

content a[href^="#"] {
	text-decoration: none;
}

content blockquote {
	font-style: italic;
	margin: 1.5em 4em;
	font-size: 15px;
}
content blockquote em {
	font-weight: bold;
}

content blockquote + blockquote {
	text-align: right;
	font-style: normal;
}

content h4, content h5 {
	font-weight: bold; font-family: "Source Sans Pro"; margin-bottom: 0;
}
content h1 { text-align: center; font-size: 2.4em; font-weight: normal; counter-reset: h2 -1; color: black; font-style: italic; }
content h1 em { font-style: normal; font-weight: bold; font-size: 2.3em; text-transform: lowercase; font-family: Lora; display: block; }
content h2 { font-size: 0.9cm; font-family: "Source Sans Pro"; color: black; text-transform: uppercase; margin-top: 6cm; }
content h3 { font-size: 1.4em; margin-top: 2em; font-family: "Source Sans Pro"; color: black; text-transform: uppercase; margin-bottom: 0.3em; }
content h3 em { font-family: Lora; font-weight: normal; text-transform: none; }
content h4 { font-size: 1.1em; }
content h5 { font-size: 1em; margin-bottom: 0; }
content h4 em, content h3 em, content h2 em { font-size: 80%; font-weight: 300; font-style: italic; }
content h2 em { font-family: Lora; text-transform: none; font-size: 60%; }

.nutshell content h2[id$=logue] {
	text-align: center; text-transform: lowercase; letter-spacing: 1px; font-weight: bold; font-variant: small-caps;
}
.nutshell content h2:not([id$=logue]):before { 
	counter-increment: h2; 
	content: counter(h2, decimal); 
	font-size: 3.6cm;
	margin-top: -4.8cm;
	position: relative;
	float: right;
	font-family: "Source Sans Pro";
	font-weight: normal;
}
.nutshell content h2:not([id$=logue]):after { 
	font-weight: normal;
	content: "SECTION"; 
	font-size: 1.2cm;
	margin-top: -3.2cm;
	right: 2cm;
	position: relative;
	float: right;
	font-family: "Source Sans Pro";
}

.nutshell content author { display: block; margin: 0 auto; text-align: center; padding: 1em 0; font-family: Lora, "Source Sans Pro"; font-style: italic; }
.nutshell content author + p { text-align: justify; padding: 0 2cm; }

@media screen {
	.nutshell content author { display: none; }
	.nutshell content h1, .nutshell content author + p { margin-right: -80px; } 
  .nutshell content h1 + p { padding-top: 1.5cm; }
}

@media print {
	.nutshell content h1 { margin-top: 40%; text-align: center; margin-right: -2cm; }	
	.nutshell content author + p { margin: 0.5em auto; margin-right: -2cm; }
	.nutshell content author { margin-right: -2cm; } 
	content h2 { page-break-before: always; padding-top: 5em; font-size: 2em; }
	content h3 { padding-top: 1em; }
	content > p { widows: 3; orphans: 3; line-height: 1.4; font-size: 1rem; }
	.sidenote { font-size: 0.9em; }
	h1, h2, h3, h4, h5 { page-break-after: avoid; }
	h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h3 + h4 { page-break-before: avoid; }
	pre { page-break-inside: avoid; } 
}

/* syntax highlighting */
@media print {
	code kw { color: black; font-weight: bold; font-family: monospace; }
	code def { text-decoration: underline; }
}
@media screen {
	code kw, code or { color: #859900; }
	code lit { color: #268bd2; }
	code lit ind { color: #839496; }
	code lit uom {color: #839496; }
	code op, code op lit { color: #cb4b16; }
	code uop { color: #cb4b16; }
	code def { color: #268bd2; }
	code as { color: #b58900; }
	code atom { color: #d33682; }
	code var { font-style: normal; color: #b58900; }
	code key, code key dim { color: #d33682; }
	code set, code dim { color: #859900; }
	code g { color: #2aa198; }
	code unit, code unit g { color: #565A9D; }
	code sep { color: #565A9D; }
}
@media print {
	toc { display: none; }
}
a.toc-toggle {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	width: 32px; line-height: 32px; border: 0; cursor: pointer; font-family: Lora; font-size: 28px; font-weight: normal; margin: 10px; 
}
toc.toc-down .toc-toggle i.fa-bars:before {
	color: white;
}

toc {
	counter-reset: tocH2 -1;
	font-family: "Source Sans Pro";
	margin-left: 100px;
	margin-top: 3cm;
	display: block;
	page-break-before: always;
}
toc #toc-header {
 font-size: 0.9cm; color: black; text-transform: uppercase; font-weight: bold; text-align: center;
}
toc #toc-page {
  display: none;
}
toc.toc-down #toc-page {
	display: inherit;
}
table#toc, table#toc td, table#toc th, table#toc tbody {
	border-width: 0;
}

toc table td a {
	color: blue;
	text-decoration: none;
	font-family: "Source Sans Pro";
	font-weight: 400;
}
toc .toc-H2 a { font-weight: 600; }
toc .toc-H2 td { padding-top: 0.7em; }
toc .toc-H3 td { padding-left: 1em; }
toc .toc-H4 td { padding-left: 2em; }
toc em, toc .toc-H1 { display: none; }

.sidenote {
	margin: 0;
	margin-right: -240px;
	float: right;
	width: 230px;
	font-family: "Source Sans Pro";
	font-size: 0.76em;
	text-align: justify;
	z-index: 2;
	padding: 0;
}
.sidenote li {
	background-color: white;
	padding: 20px;
	list-style: none;
	margin-top: -42px;
}
.sidenote li > p {
	margin: 0;
}
.sidenote sup {
	font-family: Lora, serif;
	font-weight: bold;
}
.sidenote .reversefootnote {
	display: none;
}

